 body {
        background: url(https://s17.postimg.org/586uveuin/XILPap.jpg) no-repeat center center fixed;  /* Keep external for Heroku */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }