 body {
        background: url(https://s32.postimg.org/64fklkz6d/polygon_2560x1600_orange_red_blue_background_pat.jpg) no-repeat center center fixed;  /* Keep external for Heroku */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }