<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatty Bots - Chatting</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{url_for('main.static', filename='css/chat.css')}}" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('main.static', filename='scripts/chat.js')}}"></script>
</head>
<body>
<div class="container">
    <div class="row " style="padding-top:40px;">
        <h3 class="text-center">Chat away!</h3>
        <br/><br/>
    <div class="alert alert-danger" id="msg-error">
        <strong>Error: </strong>Message is too long!
    </div>
        <div class="col-md-12">
            <div class="panel panel-info" style="width: 100%;">
                <div class="panel-heading">
                    <strong><span class="glyphicon glyphicon-list"></span> Chat History</strong>
                </div>
                <div class="panel-body fixed-panel">
                    <textarea readonly class="form-control" rows="20" id="chat"></textarea>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Message" id="text" autofocus/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" onclick="send_msg();"type="button" id="sendMessage">SEND <span
                                                class="glyphicon glyphicon-send"></span></button>
                                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-danger" onclick="leave_room();">Get me outta here!</button>
</div>
</body>
</html>
