<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatty Bots - Selecting Room</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="app/css/index.css" rel="stylesheet">
    <style>
        body {
            background: url(https://s31.postimg.org/xvelu0kdn/home.jpg) no-repeat center center fixed; /* Keep external for Heroku */
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .vertical-center {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one       */
            display: flex;
            align-content: stretch;
            align-items: center;
            margin: auto;
        }
        .headermessage {
            margin: 19px;
            color: black;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: bold;
        }

        .image-block {
            max-width: 33%;
            border: 3px solid white;
            background-color: black;
            padding: 0px;
            margin: 0px;
            text-align: center;
            vertical-align: bottom;
        }

        .highlight {
            border: 3px solid #0099ff;
        }
        .highlight > p {
            background-color: rgba(3,3,3,0.5);
            color: white;
        }
        .image-block > p {
            width: 100%;
            font-weight: normal;
            font-size: 19px;
            padding-top: 150px;
            background-color: rgba(3,3,3,0.0);
            color: rgba(6,6,6,0.0);
        }
        .image-block:hover > p {
            background-color: rgba(3,3,3,0.5);
            color: white;
        }
        .panel-title {
        text-align: center;
        }
        #bot-selected-box {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    </style>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            hide_on_init();
            $('.fixed-width').each(function( index ) {
                 var lastChild = $(this).children().last();
                 var newWidth = lastChild.position().left - $(this).position().left + lastChild.outerWidth(true);
                 $(this).width(newWidth);
            })
            // Carousel Select Event
            $('.radio').click(function() {
                // Highlight selection in Carousel
                $(this).find("input:radio").prop("checked", true);
                $('.highlight').removeClass("highlight");
                $(this).addClass("highlight");
                // Update value of room with corresponding #
                room = $(this).find("input:radio").val();
                name = $(this).find("p").html();
                show_bot_description(room, name);
                $('#room').val(room);
            })
        });
        function hide_on_init(){
            $('#bot-selected-box').hide();
        }
        function show_bot_description(room, name){
            $('#bot-title').html("You selected: " + name);
            switch(room) {
                case '1':
                    description = "<p>Sick of talking to bots? Talk to like-minded people on this public room.</p><strong>Tags: Public</strong>";
                    break;
                case '10':
                    description = "<p>Speak to the infamous Eliza Chatbot from the 60's.</p><strong>Tags: NLTK, Pattern-matching</strong>";
                    break;
                case '20':
                    description = "<p>Speak to Sun Tsu, an ancient, wise chinese military general and philosopher.</p><strong>Tags: NLTK, Pattern-matching</strong>";
                    break;
                case '30':
                    description = "<p>Are you an anime fan? Then speak with this anime/manga obsessed bot! </p><strong>Tags: NLTK, Pattern-matching</strong>";
                    break;
                case '40':
                    description = "<p>Unlock life's hidden secrets by chatting to an expert on Zen Buddhism.</p><strong>Tags: NLTK, Pattern-matching</strong>";
                    break;
                case '50':
                    description = "<p>Had a rough day? Why don't you let it all out on this bot. </p><strong>Tags: NLTK, Pattern-matching</strong>";
                    break;
                case '60':
                    description = "<p>This slightly more sophisticated bot will learn as you speak with him!</p><strong>Tags: Frequency-based, Evolving</strong>";
                    break;
                default:
                    description = "<p>This bot is straight up awesome!</p>";
            }
            $('#bot-description').html(description);
            $('#bot-selected-box').show();
        }
    </script>
</head>
<body>
<div class="container-fluid" style="padding-top:300px;">
    <div class="row">
        <div class="col-xs-0 col-md-4">
        </div>
        <div class="col-xs-8 col-md-4">
            <div class="login-panel panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Choose a nickname and bot to chat</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST">
                        <fieldset>
                            <div class="form-group">
                                {{ form.hidden_tag() }}
                                <span style="white-space:nowrap">
                                <label for="name">Name:</label>
                                {{ form.name(class="form-control", placeholder="Enter Nickname", style="max-width:50%;") }}
                                    </span>
                                {{ form.room(id="room", style="display: none") }}
                            </div>
                            <div class="row">
                                <h3 class="headermessage">Pick a Bot</h3>
                            </div>
                            <div class="row">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{url_for('main.static', filename='img/eliza.png')}}) no-repeat center top;background-size:cover;">
                                                <p> Therapist </p>
                                                <input type="radio" name="bot" value="10">
                                            </div>
                                            <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{url_for('main.static', filename='img/chad.png')}}) no-repeat center top;background-size:cover;">
                                                <p> Jerk </p>
                                                <input type="radio" name="bot" value="50">
                                            </div>
                                            <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{url_for('main.static', filename='img/gentleman.svg')}}) no-repeat center top;background-size:cover;">
                                                <p> Copycat </p>
                                                <input type="radio" name="bot" value="60">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{url_for('main.static', filename='img/gentleman.svg')}}) no-repeat center top;background-size:cover;">
                                                <p> Teen </p>
                                                <input type="radio" name="bot" value="30">
                                            </div>
                                            <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{url_for('main.static', filename='img/gentleman.svg')}}) no-repeat center top;background-size:cover;">
                                                <p> Philosopher </p>
                                                <input type="radio" name="bot" value="40">
                                            </div>
                                            <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{url_for('main.static', filename='img/sun.jpeg')}}) no-repeat center top;background-size:cover;">
                                                <p> Sun Tsu </p>
                                                <input type="radio" name="bot" value="20">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button"
                                       data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <br/>
                                <br/>
                                <div class="col-xs-1 col-md-3"></div>
                                <div class="col-xs-10 col-md-6">
                                    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-2 vertical-align" id="bot-selected-box">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title" id="bot-title"></h3>
                </div>
                <div class="panel-body" id="bot-description">
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>
