<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatty Bots - Selecting Room</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('main.static', filename='css/index.css') }}" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ url_for('main.static', filename='scripts/index.js') }}"></script>
</head>
<body>
<div class="container-fluid" style="padding-top:200px;">
    <div class="row">
        <div class="col-xs-0 col-md-4">
        </div>
        <div class="col-xs-8 col-md-4">
            <div class="login-panel panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Choose a name and bot to chat</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST">
                        <fieldset>
                            <div class="form-group">
                                {{ form.hidden_tag() }}
                                <span style="white-space:nowrap">
                                <label for="name">Name:</label>
                                {{ form.name(class="form-control", placeholder="Your Name", style="max-width:50%;") }}
                                    </span>
                                {{ form.room(id="room", style="display: none") }}
                            </div>
                            <div class="row">
                                <h3 class="headermessage">Pick a Bot</h3>
                            </div>
                            <div class="row">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{ url_for('main.static', filename='img/eliza.png') }}) no-repeat center top;background-size:cover;">
                                                <p> Therapist </p>
                                                <input type="radio" name="bot" value="10">
                                            </div>
                                            <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{ url_for('main.static', filename='img/bot.png') }}) no-repeat center top;background-size:cover;">
                                                <p> Deep Q&A </p>
                                                <input type="radio" name="bot" value="70">
                                            </div>
                                            <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{ url_for('main.static', filename='img/gentleman.svg') }}) no-repeat center top;background-size:cover;">
                                                <p> Copycat </p>
                                                <input type="radio" name="bot" value="60">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{ url_for('main.static', filename='img/guru.jpg') }}) no-repeat center top;background-size:cover;">
                                                <p> Guru </p>
                                                <input type="radio" name="bot" value="40">
                                            </div>
                                            <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{ url_for('main.static', filename='img/sun.jpeg') }}) no-repeat center top;background-size:cover;">
                                                <p> Sun Tsu </p>
                                                <input type="radio" name="bot" value="20">
                                            </div>
                                                                                        <div class="image-block col-xs-4 col-md-4 radio"
                                                 style="background: url({{ url_for('main.static', filename='img/human.jpg') }}) no-repeat center top;background-size:cover;">
                                                <p> People </p>
                                                <input type="radio" name="bot" value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button"
                                       data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <br/>
                                <br/>
                                <div class="col-xs-1 col-md-3"></div>
                                <div class="col-xs-10 col-md-6">
                                    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-2 vertical-align" id="bot-selected-box">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title" id="bot-title"></h3>
                </div>
                <div class="panel-body" id="bot-description">
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>
